{% extends "device/base.html" %}

{% block title %}
    SuperHouse Device Register: Device detail
{% endblock title %}

{% block h1 %}
    Device detail
{% endblock h1 %}

{% block body %}
    <table class="table table-bordered">
        <tr>
            <th>Device:</th>
            <td>{{ device.design.name }}</td>
            <td rowspan="7">
                {% if device.design.client.logo %}
                    <img src="{{ device.design.client.logo.url }}"
                         alt="{{ device.design.client.name }} logo" />
                {% else %}
                    {{ device.design.client.name }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>SKU:</th>
            <td>{{ device.design.sku }}</td>
        </tr>
        <tr>
            <th>Serial:</th>
            <td>{{ device.id }}</td>
        </tr>
        <tr>
            <th>H/W Version:</th>
            <td>{{ device.design.hw_version }}</td>
        </tr>
        <tr>
            <th>S/W Version:</th>
            <td>{{ device.sw_version }}</td>
        </tr>
        <tr>
            <th>Assembled:</th>
            <td>{{ device.assembly_date }}</td>
        </tr>
        <tr>
            <th>Notes:</th>
            <td>{{ device.notes }}</td>
        </tr>
    </table>

    <h3>Test log</h3>
    <table class="table table-bordered">
        {% with test_records=device.testrecord_set.all %}
            {% for test_record in test_records %}
                <tr class="{{ test_record.get_bootstrap_table_class }}">
                    <td>
                        Test executed {{ test_record.test_dt }}
                    </td>
                    <td>{{ test_record.get_result_display }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <pre>{{ test_record.notes }}</pre>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>
                        &nbsp;&nbsp;&nbsp;<i>Currently no test logs</i>
                    </td>
                </tr>
            {% endfor %}
        {% endwith %}
    </table>

    <h2>Actions</h2>

    <ul>
        <li>
            Some sort of exciting action: <a href="{% url 'device:device_action' device.id %}">link</a>
        </li>
        <li>
            Top: <a href="{% url 'device:top' %}">link</a>
        </li>
    </ul>
{% endblock body %}
