<footer class="footer">
    <div class="container-fluid">
        <div class="row text-body-secondary">
            <div class="col-6 text-start ">
                <a class="text-body-secondary" href="#">
                    {% if demo_name == "b5demo" %}
                        <strong>CodzSword</strong>
                    {% else %}
                        <strong>Superlab</strong>
                    {% endif %}

                </a>
            </div>
            <div class="col-6 text-end text-body-secondary d-none d-md-block">
                <ul class="list-inline mb-0">
                    {% if demo_name == "b5demo" %}
                        <li class="list-inline-item">
                            <a class="text-body-secondary" href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-body-secondary" href="#">About Us</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-body-secondary" href="#">Terms & Conditions</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff and enable_demo_mode %}
                        <li class="list-inline-item">
                            <a class="text-body-secondary" href="{% url 'device:inc_demo' %}">Demo</a>{% if demo %}: {{ demo_name }}{% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>
