{% load static %}
<aside class="sidebar sidebar-fixed sidebar-lg-show" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
        <a class="sidebar-brand-full" href="https://www.testomatic.io/" target="_blank" rel="noopener noreferrer">
            {% if demo_name == "b5demo" %}
                CodzSword
            {% else %}
                <img src="{% static 'img/testomatic-logo-transparent.png' %}" alt="Testomatic" style="max-height: 120px; width: auto; padding: 10px 0;">
            {% endif %}
        </a>
        <a class="sidebar-brand-narrow" href="https://www.testomatic.io/" target="_blank" rel="noopener noreferrer">
            {% if demo_name == "b5demo" %}
                CS
            {% else %}
                <img src="{% static 'img/testomatic-logo-transparent.png' %}" alt="Testomatic" style="max-height: 120px; width: auto; padding: 10px 0;">
            {% endif %}
        </a>
    </div>
    {% if user.is_authenticated %}
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
            {% if demo_name == "b5demo" %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-user"></i>
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-task"></i>
                        Task
                    </a>
                </li>
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle" href="#">
                        <i class="nav-icon cil-shield-alt"></i>
                        Auth
                    </a>
                    <ul class="nav-group-items">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-bell"></i>
                        Notification
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-settings"></i>
                        Setting
                    </a>
                </li>
            {% endif %}
            {% if demo_name != 'b5demo' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="nav-icon cil-speedometer"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'device:top' %}">
                        <i class="nav-icon cil-memory"></i>
                        Boards
                    </a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'design_list' %}">
                            <i class="nav-icon cil-list"></i>
                            Designs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'organisation_list' %}">
                            <i class="nav-icon cil-building"></i>
                            Organisations
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if demo_name == 'sldemo' %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-calendar"></i>
                        Calendar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-cart"></i>
                        Orders
                    </a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cil-chart-line"></i>
                            Inventree
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cil-industry"></i>
                            Production
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-truck"></i>
                        Deliveries
                    </a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cil-people"></i>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cil-dollar"></i>
                            Billing
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if demo_name != 'b5demo' %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            <i class="nav-icon cil-settings"></i>
                            Admin
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <form id="logout-form" method="post" action="{% url 'logout' %}" class="nav-link">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link p-0 text-center w-100 border-0">
                <i class="nav-icon cil-account-logout"></i>
                Logout
            </button>
        </form>
        <div class="sidebar-footer border-top">
            <div class="text-center py-3">
                <a href="https://www.testomatic.io/" target="_blank" rel="noopener noreferrer">
                   <img src="{% static 'img/testomatic-logo-wide-transparent.png' %}" alt="Testomatic.io" style="max-width: 100%; height: auto; padding: 0 10px;">
               </a>
           </div>
        </div>
    {% else %}
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cil-user"></i>
                    Profile
                </a>
            </li>
        </ul>
    {% endif %}
</aside>
