<aside class="sidebar sidebar-fixed sidebar-lg-show" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
        <a class="sidebar-brand-full" href="{% url 'home' %}">
            {% if demo_name == "b5demo" %}
                CodzSword
            {% else %}
                SuperHouse
            {% endif %}
        </a>
        <a class="sidebar-brand-narrow" href="{% url 'home' %}">
            {% if demo_name == "b5demo" %}
                CS
            {% else %}
                SH
            {% endif %}
        </a>
    </div>
    {% if user.is_authenticated %}
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
            {% if demo_name == "b5demo" %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-user"></i>
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-task"></i>
                        Task
                    </a>
                </li>
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle" href="#">
                        <i class="nav-icon cil-shield-alt"></i>
                        Auth
                    </a>
                    <ul class="nav-group-items">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-bell"></i>
                        Notification
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-settings"></i>
                        Setting
                    </a>
                </li>
            {% endif %}
            {% if demo_name != 'b5demo' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'device:dashboard' %}">
                        <i class="nav-icon cil-speedometer"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="nav-icon cil-devices"></i>
                        Devices
                    </a>
                </li>
            {% endif %}
            {% if demo_name == 'sldemo' %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-calendar"></i>
                        Calendar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-cart"></i>
                        Orders
                    </a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cil-chart-line"></i>
                            Inventree
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cil-industry"></i>
                            Production
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="nav-icon cil-truck"></i>
                        Deliveries
                    </a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cil-people"></i>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon cil-dollar"></i>
                            Billing
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if demo_name != 'b5demo' %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            <i class="nav-icon cil-settings"></i>
                            Admin
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <div class="sidebar-footer border-top">
            {% if demo_name == 'b5demo' %}
                <a class="nav-link" href="#">
                    <i class="nav-icon cil-account-logout"></i>
                    Logout
                </a>
            {% else %}
                <form id="logout-form" method="post" action="{% url 'logout' %}" class="nav-link">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link p-0 text-start w-100 border-0">
                        <i class="nav-icon cil-account-logout"></i>
                        Logout
                    </button>
                </form>
            {% endif %}
        </div>
    {% else %}
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon cil-user"></i>
                    Profile
                </a>
            </li>
        </ul>
    {% endif %}
</aside>
