{% extends "device/base.html" %}

{% block title %}
    SuperHouse Device Register
{% endblock title %}

{% block h1 %}
    SuperHouse Device Register
{% endblock h1 %}

{% block body %}
    {% if not user.is_authenticated %}
        <p>Welcome, new user. Please log in.</p>
    {% else %}
        <h2>Current clients:</h2>
        {% if clients %}
            <table border="1">
                <tr>
                    <th>Name</th>
                </tr>
                {% for client in clients %}
                    <tr>
                        <td valign="middle">
                            {% if client.logo %}<img src="{{ client.logo.url }}" alt="{{ client.name }} logo">{% endif %}
                            {{ client.company_name }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>
                <i>There are no clients.</i>
            </p>
        {% endif %}

        <h2>Current designs:</h2>
        {% if designs %}
            <table border="1">
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Client</th>
                </tr>
                {% for design in designs %}
                    <tr>
                        <td>{{ design.sku }}</td>
                        <td>{{ design.name }}</td>
                        <td>{{ design.version }}</td>
                        <td>{{ design.client.company_name }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>
                <i>There are no designs.</i>
            </p>
        {% endif %}

        <p>Let's track some devices.</p>
        {% if devices %}
            <table border="1">
                <tr>
                    <th>Device</th>
                </tr>
                {% for device in devices %}
                    <tr>
                        <td>
                            {{ device.design.name }}
                            <a href="{% url 'device:device_detail' device.pk %}">{{ device.pk }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>
                <i>There are no devices.</i>
            </p>
        {% endif %}

        <h2>Actions</h2>
        <ul>
            <li>
                General action 1: <a href="{% url 'device:general_action' %}">link</a>
            </li>
            <li>
                Admin: <a href="{% url 'admin:index' %}">link</a>
            </li>
        </ul>
    {% endif %}
{% endblock body %}
