{% extends "device/base.html" %}

{% block title %}
    SuperHouse Device Register
{% endblock title %}

{% block h1 %}
    <h1>SuperHouse Device Register</h1>
{% endblock h1 %}

{% block body %}
    <h2>Current clients:</h2>
    {% if clients %}
        <table border="1">
            <tr>
                <th>Name</th>
            </tr>
            {% for client in clients %}
                <tr>
                    <td valign="middle">
                        {% if client.logo %}<img src="{{ client.logo.url }}" alt="{{ client.name }} logo">{% endif %}
                        {{ client.company_name }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>
            <i>There are no clients.</i>
        </p>
    {% endif %}

    <h2>Actions</h2>
    <p>
        General action 1: <a href="{% url 'device:general_action' %}">link</a>
    </p>

    <h2>Actions</h2>
    <p>
        Admin: <a href="{% url 'admin:index' %}">link</a>
    </p>
{% endblock body %}
