{% autoescape off %}
Someone (maybe you) has asked to reset the password for email {{ email }} at {{ site_name }}.

To choose a new password, follow the link below:
{% block reset_link %}
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}
{% if user.is_authenticated %}
  (You're currently logged in as {{ user.get_username }})
{% else %}
  (You're not currently logged in.  If you didn't request a password reset, just ignore this email and your password will stay the same.)
{% endif %}

Thanks, from the {{ site_name }} team.
{% endautoescape %}
