{% extends "device/base.html" %}

{% block title %}
    SuperHouse Device Register: Reset password
{% endblock title %}

{% block h1 %}
    Reset password
{% endblock h1 %}

{% block body %}
    <p>Need to reset your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <div class="flex-container">
                    <label for="id_email">Email address:</label>
                    {{ form.email }}
                </div>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Reset my password">
        </div>
    </form>
{% endblock body %}
