Django>=5.2,<6
mysqlclient>=2.2
python-dotenv==1.2.2
dj_database_url>=2.1
requests==2.33.0
djlint==1.39.2
pillow>=10.4.0
black==26.3.1
pytest-django>=4.8
django-login-required-middleware==0.9.0
django-hijack>=3.6
easy_thumbnails>=2.10
django-debug-toolbar>=5.0
openpyxl==3.1.3
django-dbbackup>=5.0
django-extensions>=3.2.3
django_ninja>=1.2
fusionextractor>=1.2.0
digikey-api>=1.1.0
zipfile-zstd>=0.0.4
qrcode>=8.0
lcsc-toolkit>=0.1.0
# gunicorn
